[global]
index = {{ pipy_proxy_proto }}://{{ pipy_proxy }}:{{ pipy_proxy_port }}/repository/pypi-org/pypi
index-url = {{ pipy_proxy_proto }}://{{ pipy_proxy }}:{{ pipy_proxy_port }}/repository/pypi-org/simple
trusted-host = {{ pipy_proxy }}
